body {
  width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

body > * {
    margin-bottom: 20px;
}

.headerimg {
    margin-top: 20px;
    background-image: url(../img/nasa-background.jpg);
    height: 450px;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.headerimg p {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26.4px;
}

.content-box {
   height: 324px;
   width: 850px;
   background-color: rgb(230,230,230);
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: "Ubuntu", Helvetica, Arial, sans-serif;
   color: rgb(119,119,119)
   font-size: 16px;
   font-style: normal;
   font-variant: normal;
   line-height: 26.4px;

}

.divider {
  height: 284px;
  width: 250px;
  margin-left: : -15px;
  margin-right : -15px;
}

.title {
  font-weight: 800;

}

input {
    margin-bottom: 10px;
    border: none;
    padding: 4px;
    width: 90%;
}

textarea {
    height: 60px;
    margin-bottom: 10px;
    border: none;
    padding: 4px;
    width: 90%;
    resize: none;
}

.button {
  color: white;
  background-color: rgb(77,77,77);
  height: 35px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 26.4px;

}
